# final process --> Client File
The client will give a file with n number of input variables along with values we have to use the ML model we built and we have to predict the output for the entire data and we have convert it to a CSV file and download it!

Then we have to share that downloaded client output file with the client!

In [ ]:
#upload the model
import pickle

In [ ]:
with open('/content/namakkalmodel','rb') as f:
  reg=pickle.load(f)

In [ ]:
#check whether my model works or not
reg.predict([[3200]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([7981560.6100447])

In [ ]:
#upload the csv file and convert it to dataframe
import pandas as pd

In [ ]:
df=pd.read_csv('/content/client_file_1.csv')
df

   area
0   500
1  1000
2  1500
3  2000
4  2500
5  3000
6  3500
7  4000

In [ ]:
predictedprice=reg.predict(df)
predictedprice

array([1188962.66105706, 2446851.17012885, 3704739.67920063,
       4962628.18827242, 6220516.6973442 , 7478405.20641599,
       8736293.71548777, 9994182.22455956])

In [ ]:
print(type(predictedprice))

<class 'numpy.ndarray'>

In [ ]:
df['price']=predictedprice
df

   area         price
0   500  1.188963e+06
1  1000  2.446851e+06
2  1500  3.704740e+06
3  2000  4.962628e+06
4  2500  6.220517e+06
5  3000  7.478405e+06
6  3500  8.736294e+06
7  4000  9.994182e+06

In [ ]:
df.to_csv('clientoutputfile.csv',index=False)

In [ ]:
a=pd.read_csv('clientoutputfile.csv')
a

   area         price
0   500  1.188963e+06
1  1000  2.446851e+06
2  1500  3.704740e+06
3  2000  4.962628e+06
4  2500  6.220517e+06
5  3000  7.478405e+06
6  3500  8.736294e+06
7  4000  9.994182e+06